.body{
    width:84rem;
    height:42rem;
    background-image: url(math.jpg);
    
    
}



.firstbuttons{
    padding:1rem;
        width:82rem;
    height:3rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
   
}

.button{
    width:20rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 3rem;
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
   }

.secondbuttons{
    padding:1rem;
    width:82rem;
    height:3rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.button2{
    width:27rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 3rem;
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
   }

.thirdbuttons{
    padding:1rem;
    width:82rem;
    height:23rem;
    display:flex;
    align-items: center;
    justify-content: space-between;}
  

.number{
    height:5rem;
    width:9rem;
    border: 1px solid black;
    text-align:center;
    font-size: 4rem;  
    border-radius: 10px;
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.operator{
    height:3rem;
    width:3rem;
    border: 1px solid black;
    text-align:center;
    font-size: 2.5rem;
    border-radius: 10px;
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.OK{
    height:4rem;
    width:5.5rem;
    border: 1px solid black;
    background-color: rgb(113, 218, 183);
    text-align:center;
    font-size: 3rem;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.result{
    height:15rem;
    width:18rem;
    border: 1px solid black;
    font-size: 3rem;  
    border-radius: 10px;
    background-color:beige;   
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align:center;

}

.fourthbuttons{
    padding:1rem;
    width:82rem;
    height:5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.result1{
    height:3rem;
    width:8rem;
    border: 1px solid black;
    text-align:center;
    font-size: 2.5rem;  
    border-radius: 10px;
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.name{
 
    width:3.9rem;
    background-color: transparent;
    text-align:center;
    font-size: 2.3em;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    }

.next{
    width:5rem;
    height:3rem;
    background-color:rgb(26, 111, 180);
    font-size: 2em; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
     ;
}



@media screen and (min-width: 85rem) {
      .body{width: 99%; }}

@media screen and (min-width: 85rem) {
      .firstbuttons{width: 98%; }}

@media screen and (min-width: 85rem) {
      .secondbuttons{width: 98%; }}

@media screen and (min-width: 85rem) {
      .thirdbuttons{width: 98%; }}

@media screen and (min-width: 85rem) {
      .fourthbuttons{width: 98%; }}
